[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"

[packages]
absl-py = "*"
astor = "*"
astroid = "*"
attrs = "*"
autopep8 = "*"
backcall = "*"
bleach = "*"
bokeh = "*"
click = "*"
cloudpickle = "*"
dask = "*"
decorator = "*"
defusedxml = "*"
distributed = "*"
entrypoints = "*"
gast = "*"
grpcio = "*"
h5py = "*"
ipykernel = "*"
ipython = "*"
ipywidgets = "*"
isort = "*"
jedi = "*"
jsonschema = "*"
jupyter = "*"
kiwisolver = "*"
lazy-object-proxy = "*"
locket = "*"
matplotlib = "*"
mccabe = "*"
mistune = "*"
mock = "*"
msgpack = "*"
nbconvert = "*"
nbformat = "*"
notebook = "*"
numpy = "*"
pandas = "*"
pandocfilters = "*"
parso = "*"
partd = "*"
pbr = "*"
pexpect = "*"
pickleshare = "*"
protobuf = "*"
psutil = "*"
ptyprocess = "*"
pycodestyle = "*"
pylint = "*"
pyparsing = "*"
pyrsistent = "*"
python-dateutil = "*"
pytz = "*"
pyzmq = "*"
qtconsole = "*"
scikit-learn = "*"
scipy = "*"
six = "*"
sortedcontainers = "*"
tblib = "*"
tensorboard = "*"
tensorflow-estimator = "*"
tensorflow-gpu = "*"
tensorflow-hub = "*"
termcolor = "*"
terminado = "*"
testpath = "*"
toolz = "*"
torch = "*"
torchvision = "*"
tornado = "*"
tqdm = "*"
traitlets = "*"
typed-ast = "*"
wcwidth = "*"
webencodings = "*"
widgetsnbextension = "*"
wrapt = "*"
zict = "*"
Cycler = "*"
HeapDict = "*"
ipython_genutils = "*"
Jinja2 = "*"
jupyter_client = "*"
jupyter_console = "*"
jupyter_core = "*"
Keras-Applications = "*"
Keras-Preprocessing = "*"
Markdown = "*"
MarkupSafe = "*"
Pillow = "*"
prometheus_client = "*"
prompt_toolkit = "*"
Pygments = "*"
PyYAML = "*"
Send2Trash = "*"
Werkzeug = "*"

[requires]
python_version = "3.6"
